**/target
.direnv
.DS_Store
.idea

tmp
*.log

# Artifacts that may be left over
**/*-secret-manager-*
integration-tests/.project

node_modules/
chain-signatures/contract-eth/artifacts
chain-signatures/contract-eth/cache
chain-signatures/contract-eth/ignition/
chain-signatures/contract-eth/deployments/localhost.json
chain-signatures/contract-eth/scripts/params.json
