[package]
name = "mpc-recovery-integration-tests"
version = "0.1.0"
edition = "2021"
publish = false

[dev-dependencies]
anyhow = "1.0"
bollard = "0.14"
futures = "0.3"
hex = "0.4"
hyper = { version = "0.14", features = ["full"] }
mpc-recovery = { path = "../mpc-recovery" }
portpicker = "0.1"
rand = "0.8"
serde_json = "1"
threshold_crypto = "0.4.0"
tokio = { version = "1.0", features = ["full"] }
